extends layout

block content
  h1 Activate Account on Dutch Craft Garden!
  p Lorem ipsum aDolor do quis ea ut dolor minim nostrud nulla dolor nostrud nostrud irure ut.

  #subscribe
    form(method="post")!= form.toHTML()
