doctype 5
meta(charset=utf-8)
title Dutch Craft Garden
meta(name='viewport',content='width=device-width, initial-scale=1.0')
link(rel='stylesheet', href='/static/stylesheets/bootstrap.min.css')
link(rel='stylesheet', href='/static/stylesheets/style.css')

.container
  .page-header
    h1= title
      &nbsp;
      small= subtitle
  block content

script(src="static/javascripts/jquery-2.0.3.min.js")
script(src="static/javascripts/bootstrap.min.js")
block script
