extends layout

block content
  .jumbotron
    h1 Check your inbox!
    p If the planets are aligned you should have received a message in your e-mail inbox. Quickly open it and follow the link to continue.
    p: a.btn.btn-primary.btn-lg(role=button,href=base) Go back
