extends layout

block content
  .row
    .col-xs-6
      .well
        h1 Hi #{mail}!
        h3 Please enter your Minecraft username:

        #register
          form(method="post")!= form
            button.btn.btn-primary(type="submit") Join the fun!
