extends layout

block content
  .jumbotron
    h1 Thank you!
    p Join the fun, connect with your Minecraft client to:&nbsp;
      span.text-info= config.mchost
    p: a.btn.btn-primary.btn-lg(role=button,href=base) Go back
