span#mchost {

}
input#mchost {
	border: none;
	display: inline;
	font-size: 24px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 500;
	line-height: 1.1;
	color: #31708f;
	height: auto;
	background: transparent;
	-webkit-appearance: none;
	padding: 0;
}

.slot {
  float: left;
  width: 75px;
  text-align: center;
  font-size: 14pt;
  font-weight: bold;

  text-shadow: 0px 0px 2px #440000;
}

.slot.online {
  text-shadow: 0px 0px 5px #00ff00;
}
